@import '../../styles/colors.css';

@font-face {
    font-family: 'CandyBeans';
    src: url('../../assets/fonts/CandyBeans.otf') format('woff2'),
         url('../../assets/fonts/CandyBeans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.registerDesign {
    min-height: 90vh;
    min-width: 100%;
    max-width: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/SVG/estrellas.svg");

    background-size: cover;
}

.registerTittle{
    font-family: 'CandyBeans', sans-serif;
    color: var(--lightPink);
    font-size: 3em;
    margin: 1em;

    max-width: 100%;
}

.registerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: solid var(--darkPurple) 0.2em;
    border-radius: 10px;

    margin: 2em;

    max-width: 100%;
}

.registerButton{
    width: 10em;
    max-width: 100%;
    height: auto;

    transition: 0.2s;
}

.registerButton:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.2s;
}

.error{
    color: red;
    font-size: 0.8em;
    margin: 0.5em;
    background-color: white;

    max-width: 80%;
}

.success{
    color: var(--lightGreen);
    font-size: 0.8em;
    margin: 0.5em;
    background-color: white;

    max-width: 80%;
}