@import '../../styles/colors.css';

.reviewsDesign {
    min-height: 83.7vh;
    min-width: 99.1vw;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../../assets/images/SVG/estrellas.svg");
}

.reviewsCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    max-width: 100%;
}

.reviewText{
    background-color: white;
    
    max-width: 100%;
    min-width: 15vw;
    min-height: 30vh;
    margin: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid var(--darkPurple) 0.2em;
    border-radius: 10px;
    padding: 2em;
    margin: 2em;

}

.reviewsTitle{
    font-family: 'CandyBeans', sans-serif;
    color: var(--lightPink);
    font-size: 3em;
    margin: 1em;

    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .reviewsCenter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .CustomCard {
        flex: 0 0 calc(50% - 20px); 
        margin: 10px; 
    }
}
