:root{
    --darkPurple: #533184;
    --lightPurple: #764F9D;
    --darkPink: #c52888;
    --lightPink: #ff5d92;
    --darkGreen: #339055;
    --lightGreen: #62c754;
    --gold: #e29f57;
    --red: #bb3c38;
}