@import '../../../styles/colors.css';

.headerDesign{
    min-height: 8vh;
    max-width: 100%;
    /* height: 8vh; */
    /* width: 99vw; */
    overflow: hidden;

    background-color: var(--darkPurple);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}

@media screen and (min-width: 768px) {
    .headerDesign {
        flex-direction: row;
    }
}